SERVER_PORT=SERVER_PORT

# PostgreSQL
DB_ADMIN_USER=USERNAME
DB_ADMIN_PASSWORD=PASSWORD
DB_HOSTNAME=HOSTNAME
DB_SERVER_PORT=PORT
DATABASE=DB_NAME

# CORS
CLIENT_ADDRESS=CLIENT_ADDRESS

# OpenAI API
OPENAI_API_KEY=YOUR_OPENAI_API_KEY